<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Big Board Creator</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <header>
        <h1>NBA Big Board Creator</h1>

        <% if (user) { %>
            <form class="logout" method="post" action="/auth/logout" id="logout">
                <input type="submit" value="logout">
            </form>
            <%} else { %>
                <a href="/auth/login" class="login">Login</a>
            <% } %>
    </header>
    <div class="container">  
        <section class="ranked">
            <% if (user) { %>
                <a href="/ranked/<%= user.userName%>">View your ranked board</a>
            <% } else { %>
                <a href="/ranked">Create a Big Board</a>
            <% } %>
                
            <p>Create a big board that represents your rankings of the 30 best NBA prospects</p>
        </section>
        <section class="tiered">
            <a href="/tierList">Create Tiered Board</a>
            <p>Coming Soon!</p>
        </section>
        <section class="mock">
            <a href="/mock">Create a Mock Draft</a>
            <p>Coming Soon!</p>
        </section>
    </div>
</body>
</html>