<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/login.css">
    </head>
    <body> 
        <div class="alerts">
            <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
                <div><%=el.msg %></div>
            <% }) %> <% } %> 
            <% if (locals.messages.info) { %> 
            <% messages.info.forEach( el => { %>
            <div><%=el.msg %></div>
            <% })} %>
        </div>
        <div class="container">

            <h1>Login</h1>

            <form action="/auth/login" method="POST" class="loginForm">
                <input
                    type="email"
                    placeholder="email"
                    class="email"
                    id="inputEmail"
                    aria-describedby="emailHelp"
                    name="email"
                />
                <input
                    type="password"
                    placeholder="password"
                    class="password"
                    id="inputPassword"
                    name="password"
                />
                <div class="buttons">
                    <button type="submit" class="btn">Sign In</button>
                    <a href="/auth/signup" class="btn2">Sign Up</a>
                </div>
            </form>
        </div>
        <a href="/" class="home">Return Home</a>
    </body>
</html>
