<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/login.css">
    </head>
    <body>
        <div class="alerts">
            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <% if (locals.messages.info) { %>
                <% messages.info.forEach( el => { %>
                    <div class="alert alert-info"><%= el.msg %></div>
                <% }) %>    
            <% } %>
        </div>
        <section class="container">
            <h1>Sign Up</h1>
            <form action="/auth/signup" method="POST" class="signupForm">
                <div>
                    <input type="text" placeholder="Username" class="email" id="userName" name="userName">
                    </div>
                <div>
                    <input type="email" placeholder="Email" class="email" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                </div>
                <div>
                    <input type="password" placeholder="Password" class="email" id="password" name="password">
                </div>
                <div>
                    <input type="password" placeholder="Confirm Password" class="email" id="confirmPassword" name="confirmPassword">
                    </div>
                <button type="submit" class="btn signupBtn">Submit</button>
                </form>
        </section>
        <a href="/" class="home">Return Home</a>
    </body>
</html>
