*{
    box-sizing: border-box;
}

html {
    background: #e3effb;
}
body {
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    min-height: 10vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 24px;
    flex-grow: 1;
    text-align: center;
}

.logout {
    margin-right: 20px;
}

.container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

body .container section {
    color: white;
    height: 20vh;
    border: 3px solid #c6cdd3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(#16a5fd, #0075bd);
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

body .container section:hover {
    background: linear-gradient(#009dff, #0283d3);
}

body .container section a {
    color: white;
    text-decoration: none;
}

body .container section p {
    width: 90%;
    text-align: center;
}